@import "tailwindcss";

/* h1{
    background-color: blue;

    a project that displays lists of anything create new project ,add components, add tailwind, create an array of your dataset and display all the details
} */